<body class="temp">
<div class="section-1">
	<div class="container" align="center">
		<div class="home-title">
			Connecting top college students with the most competitive internships
		</div>
		<br><br><br>
		<div class="get-started">
			Request Access >>
		</div>
	</div>
</div>
</body>
<!-- <div class="section-2">
	<div class="container" align="center">
		<div class="home-title-2">
			Ratio is a database of the brightest college students in the country
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="profile-box">
					1. Upload your resume and profile info
					<br><br>
					<div>
						<img src="<%=asset_path('sample.png')%>" class="borderimg">
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="profile-box">
					2. Get notified once your account is approved
					<br><br>
					<div>
						<img src="<%=asset_path('check.png')%>">
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="profile-box">
					3. Skip the line and get connected to top interships
					<br><br>
					<div>
						<img src="<%=asset_path('jobs.png')%>" class="borderimg">
					</div>
				</div>
			</div>
		</div>
		<br><br><br>
		<div class="get-started">
			Request Access >>
		</div>
	</div>
</div> -->
<!-- <div class="home-footer">
        <div class="container" align="left">
            <div class="row">
                <div class="col-md-6">
                    <img src="<%=asset_path('logo.png')%>" class="logo" width="120px">
                    <br>
                    Ratio is a platform that connects top college students around the country with the most competitive internships. Our company network includes some of the most exclusive investment banking, private equity, hedge fund, consulting, and technology firms.
                    <br><br>
                </div>
            </div>
        </div>
</div>
<div class="home-footer-2">
        <div class="container">
            <div class="row">
                <div class="col-md-4 copyright">
                    &copy; Ratio 2015. All Rights Reserved
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-6">
                        <ul class="nav navbar-nav navbar-right">
                        </ul>
                </div>
            </div>
        </div>
</div> -->

<script type="text/javascript">
	$(".get-started").click(function(){
		window.location.replace("/join");
	});
</script>
</script>