// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$blue: #0C5AA6;
$black: #313131;
$lightblue: #1C6CBA;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

.profile-box {
	border: solid 1px #CCC;
    margin: 20px 5px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0px 0px 2px #CCC;
    background-color: #FFF;
    padding: 10px;
    border-radius: 2px;
}

.title {
	padding: 40px 0px 0px 0px;
	font-size: 24px;
}

.sub-title {
	color: $lightblue;
	padding: 10px;
	font-size: 17px;
}

img.sm {
	width: 80px;
	height: 80px;
	border-radius: 300px;
	border: solid 1px #CCC;
}

.profile-image img {
	width: 150px;
	height: 150px;
	border-radius: 300px;
	border: solid 1px #CCC;
}


.file-box {
	background: rgba(255,255,255,0.8);
	position: relative;
	display: inline-block;
	margin: 5%;
	cursor: pointer !important;
	vertical-align: top;
	border: 1px solid #acacac;
	padding: 6px 6px 6px 6px;
	border-radius: 3px;
}

.file-box:hover {
	background: #F6F6F6;
}


.file-inner-box {
  width: 100px;
  height: 120px;
  position: relative;
  overflow: hidden;
  background: #ebebeb;
  border: none;
  padding: 5px;
  margin-bottom: 22px;
  border-radius: 3px;
}

.file-inner-box img {
	width: 90px;
    height: 105px;
}

