// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$blue: #0f3653;
$black: #313131;
$lightblue: #1C6CBA;
$orange: #D96C00;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,300);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);


.temp {
	  background: url("http://7-themes.com/data_images/out/8/6793149-free-manhattan-wallpaper.jpg") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

html,body, li{
	font-family: 'Josefin Slab', sans-serif !important;
	height: auto;
	color: #313131;
}

label {
	font-weight: normal !important;
}

.logo {
	width: 170px;
}

input[type="text"],input[type="email"],input[type="password"], select {
		height: 40px;
		margin-bottom: 10px;
		padding: 10px;
		border: solid 1px #CCC;
		border-radius: 2px;
		width: 80%;
		max-width: 250px;
		background-color: white;
}

input[type="submit"]{
	border: none;
	padding: 12px 30px;
	border-radius: 2px;
	background: $blue;	
	color: white;
	font-size: 16px;
	width: 80%;
	max-width: 250px;
}

body {
	background-color: #F6F6F6 !important;
}

a {
	color: $black !important;
	text-decoration: none !important;
  }

a:hover {
	color: $blue !important;
	background: none;
}

.message {
	color: red;
	font-size: 12px;
	padding: 0px;
}


.devise-header{
	font-family: "Open Sans", sans-serif;
	padding: 20px 0px;
	font-size: 28px;
	font-weight: 800;
}

.devise-box {
	border: solid 1px #CCC;
    margin: 40px 5px;
    max-width: 550px;
    box-shadow: 0px 0px 2px #CCC;
    background-color: #FFF;
    padding: 10px;
    border-radius: 2px;
}

.navbar {
	background-color: white !important;
	margin-bottom: 0px !important;
	border-bottom: solid 2px $blue !important;
	border-radius: 0px !important;
	padding: 6px 0px;
	font-size: 15px;
}

ul.nav {
	padding-top: 20px;
}

button.navbar-toggle {
	margin-top: 25px;
}


.section-1 {
	padding: 100px 20px;
}

.home-title {
	background: black;
	opacity: 0.7;
	padding: 8px;
	text-align: center;
	color: white;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	font-size: 28px;
}

.get-started {
	margin-top: 22%;
	border: none;
	padding: 12px 30px;
	border-radius: 2px;
	background: $lightblue;	
	color: white;
	font-size: 20px;
	width: 80%;
	min-width: 250px;
	max-width: 300px;
	text-align: center;
	cursor: pointer;
}

.get-started:hover {
	background: $blue;
}

.section-2 {
	padding: 60px 0px;
}

.home-title-2 {
	padding-bottom: 40px;
	text-align: center;
	color: $blue;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	font-size: 24px;
}

.section-2 .profile-box {
	font-size: 22px;
}

.borderimg {
	border: solid 3px $blue;
}

.section-2 .profile-box img {
	width: 120px;
	height: 120px;
	border-radius: 300px;
}

.home-footer {
	padding: 80px 0px 100px 0px;
	background-color: #2c2c2c;
	color: #cacaca;
}

.home-footer .logo {
	padding:  15px 0px;
}

.home-footer-2 {
	background: #292929;
	padding: 40px;
	color: #cacaca;
}

.home-footer a, .home-footer-2 a {
	color: #cacaca !important;
}

.home-footer a:hover, .home-footer-2 a:hover{
	color: $blue !important;
}

.copyright {
	padding-top: 24px;
}