// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$blue: #0C5AA6;
$black: #313131;
$lightblue: #1C6CBA;


@font-face {
    font-family: 'Nexa Light';
    src: url('Nexa Light.otf'); 
}

@font-face {
    font-family: 'Nexa Bold';
    src: url('Nexa Bold.otf'); 
}

html,body, li{
	font-family: 'Nexa Light' !important;
	height: auto;
}

input[type="text"],input[type="email"],input[type="password"]{
		height: 40px;
		margin-bottom: 10px;
		padding: 10px;
		border: solid 1px #CCC;
		border-radius: 2px;
		width: 80%;
		max-width: 250px;
}

input[type="submit"]{
	border: none;
	padding: 12px 30px;
	border-radius: 2px;
	background: $blue;	
	color: white;
	font-size: 16px;
	width: 80%;
	max-width: 250px;
}

body {
	background-color: #F6F6F6 !important;
}

a {
	color: $black !important;
	text-decoration: none !important;
  }

a:hover {
	color: $blue !important;
	background: none;
}

.message {
	color: red;
	font-size: 12px;
	padding: 0px;
}

.devise-header{
	padding: 20px 0px;
	font-size: 28px;
	color: #313131;
}

.devise-box {
	border: solid 1px #CCC;
    margin: 40px 5px;
    max-width: 550px;
    box-shadow: 0px 0px 2px #CCC;
    background-color: #FFF;
    padding: 10px;
    border-radius: 2px;
}

.navbar {
	background-color: white !important;
	margin-bottom: 0px !important;
	border-bottom: solid 2px $blue !important;
	border-radius: 0px !important;
	padding: 6px 0px;
}